html {
  font-size: 62.5%;
}
body {
  font-family: "YuKyokasho Yoko", "Helvetica Neue", "Yu Gothic Medium", YuGothic,
    Verdana, Meiryo, sans-serif;
  font-weight: normal;
}

img,
iframe {
  vertical-align: bottom;
}
