/* ヘッダーのグループ */

.header {
  background-color: #2e3a3e;
  margin: 0 auto;
  max-width: 1280px;
}

.h1 {
  margin: 0 auto;
  max-width: 960px;

  /* flexbox */
  display: flex;
  align-items: center;

  padding-left: 10px;
}

/* ヒーローイメージの小部品 */
.parent_hero {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: -4px;
  /* height: 640px; */
}

.img {
  vertical-align: bottom;
  padding-bottom: 4px;
}
